<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>
    <body>
        <h1>Saved {{ title (.string) }}</h1>

        <table>
            {{ if eq .string "items" }}
            <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Type</th>
                <th>Version</th>
            </tr>
            <tr>
                <td>{{ .item.id }}</td>
                <td>{{ .item.value }}</td>
                <td>{{ .item.type }}</td>
                <td>{{ .item.version }}</td>
            </tr>
            {{ else if eq .string "modules" }}
            <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Version</th>
            </tr>
            <tr>
                <td>{{ .module.id }}</td>
                <td>{{ .module.value }}</td>
                <td>{{ .module.version }}</td>
            </tr>
            {{ else if eq .string "itemmodules" }}
            <tr>
                <th>id</th>
                <th>ItemID</th>
                <th>ModuleID</th>
            </tr>
            <tr>
                <td>{{ .item_module.id }}</td>
                <td>{{ .item_module.item_id }}</td>
                <td>{{ .item_module.module_id }}</td>
            </tr>
            {{ else if eq .string "moduledependencies" }}
            <tr>
                <th>Dependent</th>
                <th>Dependee</th>
            </tr>
            <tr>
                <td>{{ .module_dependency.dependent }}</td>
                <td>{{ .module_dependency.dependee }}</td>
            </tr>
            {{ else if eq .string "insfile" }}
            <tr>
                <th>Items</th>
            </tr>
            {{ range .items }}
            <tr>
                <td>{{ .value }}</td>
            </tr>
            {{ end }}
            <tr>
                <th>Modules</th>
            </tr>
            {{ range .modules }}
            <tr>
                <td>{{ .id }}</td>
            </tr>
            {{ end }}
            {{ end }}
        </table>

        <form action="/{{ .string }}">
            <input type="submit" value="return">
        </form>
    </body>
</html>
